.icon-item {
  list-style: none;
  color: white;
}
table
{
  border-collapse:collapse;
}
table td
{
  border:none;
  outline:none;
}

.img-circle {
  margin-top: 4px;
  height: 33px;
  width: 33px;
  object-fit: fill;
  clip-path: circle(50%);
}

.img-user {
  width: 360px;
  height: 220px;
  object-fit: scale-down;
}

.icon-link {
  display: inline-flex;
  font-size: 25px;
  text-decoration: none;
  color: var(--color-icon);
  width: 55px;
  height: 40px;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: black;
}
h2:hover{
  color: black;
}
.small-button{
  height: 35px;
  width: 100px;
  margin-top: 5px
}
.icon-link i {
  margin: auto;
}

.logo-icon {
  margin-right: 5px;
}

.fa-plus {
  margin: 9px auto auto;
}

.fa-bell {
  margin: 9px auto auto;
}

.bell-icon {
  margin-right: 10px;
}

.fa-bars {
  font-size: 22px;
  margin: 12px auto auto;
}

.fa-home {
  font-size: 22px;
  margin: 12px auto auto;
}

.fa-board {
  font-size: 20px;
  margin: 11px 5px 5px;
}

.nav-item-start {
  font-family: 'Lato', sans-serif, cursive;
  font-size: 1.7rem;
  font-weight: 700;
  color: white
}
.dropdown-content {
  opacity: 80%;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.nav {
  background: rgba(#6d7fcc, 0.5);
  display: flex;
  margin: inherit;
}

.nav-brand-start {
  display: flex;
  height: 40px;
  width: 300px;
  margin-left: 43%;
  margin-right: 34%;

}

.nav-brand-end {
  margin-left: 1100px;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  text-decoration: none;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  color: #ffffff;
  font-weight: bold;
  line-height: 32px;
  padding: 0;
  white-space: nowrap;
}

.nav-content {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
}

.nav-item {
  display: flex;
  width: 32px;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 40px;
}
h2{
  color: white;
}
h1.app-name {
  padding: 4px;
}

.app-name {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#ffffff, #efd0d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.user {
  margin-left: 5px;
}


.nickname {
  color: #6d6d6d;
  font-size: 10px;
}

.user-img {
  margin-top: 6px;
  height: 35px;
  width: 35px;
}

.navbar {
  background: rgba(#ffffff, 0);
  position: inherit;
}

.fa-ellipsis-h {
  margin-right: 5px;
}

.fa-user-plus {
  margin-right: 5px;
}

.button.is-primary {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.65);
}

.button-update{
  width: 170px;
  margin-right: 75px;
}

.button-cancel{
  width: 170px;
}

//Update user
.tag {
  margin-top: 10px;
  margin-bottom: 5px;
}

.button {
  vertical-align: center;
  text-align: center;
}

.update-image {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 360px;
  height: 220px;
}

.update-info{

}

.file{
  margin-bottom: 50px;
}

.div-update {
  justify-content: center;
  display: flex;
  margin-top:  50px;
}

.notification {
  color: red;
}

$primary: hsl(0, 0%, 0%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);


#updateForm {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7F7F7;
  width: 30rem;
  height: 41rem;

  .login-card {
    background: #fff;
    width: 30rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);

    .card-title {
      background-color: darken($primary, 5%);
      padding: 0rem;

      h1 {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
      }
    }

    .content {
      height: 345px;
      padding: 3rem 2.5rem 5rem;
    }

    #email, #password {
      display: block;
      width: 100%;
      font-size: 1rem;
      margin-bottom: 1.75rem;
      padding: 0.25rem 0;
      border: none;
      border-bottom: 1px solid $grey-lighter;
      transition: all .5s;

      &:hover {
        border-color: $grey;
      }

      &:active, &:focus {
        border-color: $primary;
      }
    }

    .checkbox {
      color: $grey-light;
      font-size: 0.8rem;

      span {
        margin-left: 0.5rem;
      }
    }

    a {
      font-size: 0.8rem;
    }

    .options {
      color: $grey-light;
      margin-bottom: 1.5rem;
    }

    button {
      cursor: pointer;
      font-size: 1.2rem;
      display: block;
      transition: color .5s, border-color .5s;

      &:hover, &:focus {
        color: darken($primary, 10%);
        border-color: darken($primary, 10%);
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}

#updatePass {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7F7F7;
  width: 30vw;
  height: 60vh;

  .login-card {
    background: #fff;
    width: 30vw;
    height: 100vh;
    box-shadow: 0 0 7vh 0 rgba(0, 0, 0, 0.11);

    .card-title {
      background-color: darken($primary, 5%);
      padding-top: 5vh;

      h1 {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
      }
    }

    .content {
      height: 345px;
      padding: 3rem 2.5rem 5rem;
    }


    a {
      font-size: 0.8rem;
    }

    .options {
      color: $grey-light;
      margin-bottom: 1.5rem;
    }

    button {
      cursor: pointer;
      font-size: 1.2rem;
      display: block;
      transition: color .5s, border-color .5s;

      &:hover, &:focus {
        color: darken($primary, 10%);
        border-color: darken($primary, 10%);
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}
label {
  cursor: pointer;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid $grey-lighter;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 3px;
  color: $grey-light;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


//Notification
.header__notify {
  position: absolute;
  top: 118%;
  right: 0;
  width: 404px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: white;
  cursor: default;
  transform-origin: calc(100% - 30px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  will-change: opacity, transform;
  //display: none;
  z-index: 1;
}

.header__notify::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent rgb(4, 9, 31) transparent;
  position: absolute;
  right: 4px;
  top: -29px;

}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 20px;
  right: 0;
  top: -16px;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.mark-read {
  background-color: rgb(8, 16, 52);
}

.header__notify-header {
  height: 40px;
  background-color: rgb(8, 15, 45);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__notify-header h3 {
  color: white;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  cursor: text;
}

.header__notify-list {
  padding-left: 0;
  list-style: none;
  max-height: 400px;
  flex-grow: 1;
  overflow-y: auto;
  background-color: rgb(12, 21, 63);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: rgb(9, 19, 58);
}

.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.09);
}

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}

.header__notify-description {
  display: block;
  font-size: 13px;
  line-height: 1.8rem;
  color: #756f6e;
}

.header__notify-footer {
  display: flex;
  background-color: rgb(9, 15, 42);
}

.header__notify-footer-btn {
  text-decoration: none;
  color: white;
  padding: 2px 32px;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
}

.header__cart-notice {
  position: absolute;
  right: 12px;
  padding: 1px 4px;
  background-color: rgb(248, 0, 0);
  color: white;
  font-size: 12px;
  line-height: 12px;
  border-radius: 10px;
  border: 1px solid rgb(14, 24, 66);
}

.search-result-primary {
  font-weight: bold;
  font-size: medium;
}

.search-result-secondary {
  font-weight: bold;
  color: gray;
}

.search-result-preview-primary {
  font-style: italic;
  font-weight: bold;
  color: gray;
  font-size: small;
}

.search-result-preview-secondary {
  font-style: italic;
  font-size: small;
}

#search-input {
  width: 200px;
  margin-top: 1.19px;
}

.input-user-name {
  margin-bottom: 20px;
}

.modal-card-user {
  border-radius: 5px;
}

.my-pagination ::ng-deep .ngx-pagination {
  margin-left: 7%;
  margin-top: 30px;
  //justify-content: space-evenly;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous {
  background: #080c38;
  color: white;
  width: 100px;
  margin-right: 5px;
  margin-top: -5px;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-next {
  background: #131c42;
  color: white;
  width: 100px;
  margin-top: -5px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #0e163a;
  color: white;
}

#updatePass {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7F7F7;
  width: 30vw;
  height: 60vh;

  .login-card {
    background: #fff;
    width: 30vw;
    height: 100vh;
    box-shadow: 0 0 7vh 0 rgba(0, 0, 0, 0.11);

    .card-title {
      background-color: darken($primary, 5%);
      padding-top: 5vh;

      h1 {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
      }
    }

    .content {
      height: 345px;
      padding: 3rem 2.5rem 5rem;
    }


    a {
      font-size: 0.8rem;
    }

    .options {
      color: $grey-light;
      margin-bottom: 1.5rem;
    }

    button {
      cursor: pointer;
      font-size: 1.2rem;
      display: block;
      transition: color .5s, border-color .5s;

      &:hover, &:focus {
        color: darken($primary, 10%);
        border-color: darken($primary, 10%);
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}
