<div class="wrapper">
  <app-side-bar></app-side-bar>
  <app-modal
    [workspace]="workspace"
    (privateBoards)="getPrivateBoard($event)"
    (publicBoards)="getPublicBoard($event)"
  ></app-modal>
  <div class="container column is-10" #top style="padding: 10px 13px 13px 106px;">
    <!--    Board-->
    <div class="title-board">
      <h1><i class="fa fa-table"></i> Bảng của bạn:</h1>
    </div>
    <div class="section-board">
      <div class="card">
        <div class="img-circle-add-board" (click)="displayAddBoardModal()">
          <a (click)="displayAddBoardModal()"><i class="fas fa-plus-circle"></i></a>
        </div>
      </div>
      <div class="card" *ngFor="let board of boards" routerLink="/board/{{board.id}}">
        <div class="card-header"><p class="card-header-title">{{board.title}}</p></div>
        <div class="card-content">
          <div class="content">
            <span style="font-size: small"><b>Người tạo: </b>{{board.owner.username}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="title-board" #target>
      <h1><i class="fa fa-users"></i> Bảng công khai: </h1>
    </div>
    <div class="section-board">
      <div class="card" *ngFor="let board of publicBoards" routerLink="/board/{{board.id}}">
        <div class="card-header"><p class="card-header-title">{{board.title}}</p></div>
        <div class="card-content">
          <div class="content">
            <span style="font-size: small"><b>Người tạo: </b>{{board.owner.username}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="title-board" #target>
      <h1><i class="fa fa-user"></i> Bảng cá nhân:</h1>
    </div>
    <div class="section-board">
      <div class="card" *ngFor="let board of privateBoards" routerLink="/board/{{board.id}}">
        <div class="card-header"><p class="card-header-title">{{board.title}}</p></div>
        <div class="card-content">
          <div class="content">
            <span style="font-size: small"><b>Người tạo: </b>{{board.owner.username}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

