<div class="modal" id="create-workspace">
  <div class="modal-background" (click)="hideCreateWorkspaceModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Tạo nhóm mới:</p>
      <button class="delete" aria-label="close" (click)="hideCreateWorkspaceModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="field" style="position: relative">
        <label class="label">Tên nhóm</label>
        <div class="control">
          <input class="input" type="text" required [(ngModel)]="workspace.title" #workspaceTitle="ngModel">
        </div>
        <label class="label">Thể loại:</label>
        <div class="control">
          <select class="input" [(ngModel)]="workspace.type" required #workspaceType="ngModel">
            <option value="Công nghệ">Công nghệ</option>
            <option value="Kinh doanh">Kinh doanh</option>
            <option value="Học tập">Học tập</option>
            <option value="Đời sống">Đời sống</option>
          </select>
        </div>
        <div class="control">
          <label class="label">Kiểu :</label>
          <select class="input" [(ngModel)]="workspace.privacy" required #workspacePrivacy="ngModel">
            <option value="Riêng tư">Riêng tư</option>
            <option value="Công khai">Công khai</option>
          </select>
        </div>
        <div *ngIf="workspaceTitle.invalid && workspaceTitle.touched" class="alert">
          <div *ngIf="workspaceTitle.errors?.required" style="color: red">
            Hãy nhập tiêu đề
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="alert">
        <button [disabled]="workspaceTitle.invalid || workspaceType.invalid || workspacePrivacy.invalid"
                class="button is-dark" (click)="createWorkspace()">Tạo nhóm
        </button>
      </div>
      <button class="button is-light" (click)="hideCreateWorkspaceModal()">Thoát</button>
    </footer>
  </div>
</div>
