<div class="wrapper">
  <app-modalworkspace
    (workspaces)="getWorkspaces($event)"
    (workspacesPublic)="getWorkspacePubic($event)"
  ></app-modalworkspace>
  <!-- Sidebar  -->
  <nav id="sidebar" style="font-size: 20px">
    <ul class="list-unstyled components">
      <li class="active">
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <div class="list-group-item">
              <a [routerLink]="['/boards']"><i class="fa fa-table" style="width: 20px"></i> Bảng</a>
            </div>
          </li>
          <li>
            <div class="list-group-item">
              <a><span (click)="showCreateWorkspaceModal()"><i class="fas fa-object-group" style="width: 20px"></i> Nhóm
              <i class="fas fa-plus-circle is-hoverable"></i></span></a>
            </div>
          </li>
          <li class="list-group-item" *ngFor="let workspace of workspaces, index as i">
            <a (click)="showWorkspaceButton(i)"><i class="fas fa-object-group"
                                                   style="width: 10px"></i>  {{workspace.title}}</a>
            <span (click)="showWorkspaceButton(i)"><i style="position: absolute; margin-top: -35px; margin-left: 206px"
                                                      id="arrow-down-{{i}}" class="fas fa-angle-down"></i></span>
            <span (click)="showWorkspaceButton(i)"><i style="position: absolute; margin-top: -35px; margin-left: 206px"
                                                      id="arrow-up-{{i}}" class="fas fa-angle-up is-hidden"></i></span>
            <ul id="workspace-{{i}}" class="is-hidden">
              <li style="padding-left: 20px"><a style="font-size: 10px" routerLink="/workspaces/{{workspace.id}}/home">Bảng</a></li>
              <li style="padding-left: 20px"><a routerLink="/workspaces/{{workspace.id}}/members">Thành viên</a></li>
              <li style="padding-left: 20px"><a routerLink="/workspaces/{{workspace.id}}/setting">Cài đặt</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="list-unstyled CTAs" style="background: rgba(131, 155, 248, 0.25)">
      <li>
        <a href="#" class="article" style="background: rgba(131, 155, 248, 0.25)"> Group 3 CodeGym</a>
      </li>
    </ul>
  </nav>
</div>
<script>
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });
  });
</script>
