<div class="modal" id="create-board">
  <div class="modal-background" (click)="hideCreateBoard()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Tạo một bảng</p>
      <button class="delete" aria-label="close" (click)="hideCreateBoard()"></button>
    </header>
    <section class="modal-card-body">
      <label class="label">Tiêu đề</label>
      <input class="input" type="text" required [(ngModel)]="newBoard.title" #boardTitle="ngModel">
      <div *ngIf="boardTitle.invalid && boardTitle.touched" class="alert">
        <div *ngIf="boardTitle.errors?.required" style="color: red;">Tiêu đề cần được nhập.</div>
      </div>
      <label class="label">Loại</label>
      <div class="control">
        <select class="input" [(ngModel)]="newBoard.type">
          <option value="Riêng tư">Riêng tư</option>
          <option value="Công khai">Công khai</option>
        </select>
      </div>
      <br>
      <div class="control">
        <label class="label">Người tạo: <span
          class="is-info user-button is-light">{{loggedInUser.username}}</span></label>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div *ngIf="boardTitle.invalid" class=" is-right">
        <button class="button is-dark is-light is-right" disabled>Tạo</button>
      </div>
      <div *ngIf="!boardTitle.invalid" class=" is-right">
        <button class="button is-dark is-light is-right" (click)="createNewBoard()">Tạo</button>
      </div>
      <button class="button is-light is-right" (click)="hideCreateBoard()">Hủy</button>
    </footer>
  </div>
</div>
