<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
</head>
<div class="container">
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/js2/main.js"></script>
  <div class="signup-content">
    <div class="signup-form">
      <h2 class="form-title">Đăng ký</h2>
      <form (ngSubmit)="register()" [formGroup]="registerForm" class="register-form" id="register-form">
        <div class="form-group">
          <label><i class="zmdi zmdi-account material-icons-name"></i></label>
          <input type="text" formControlName="username" placeholder="Nhập tên tài khoản: " (click)="existence()">
          <div *ngIf="this.userExistence" class="col alert alert-danger">
            <p style="color: crimson">Tài khoản đã tồn tại</p>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="this.registerForm.get('username')?.invalid && (this.registerForm.get('username')?.dirty || this.registerForm.get('username')?.touched)">
            <div *ngIf="this.registerForm.get('username')?.errors?.minlength" class="col alert alert-danger">
              <p style="color: crimson">
                Tài khoản phải nhiều hơn 6 ký tự !</p>
            </div>
            <div *ngIf="this.registerForm.get('username')?.errors?.maxlength" class="col alert alert-danger">
              <p style="color: crimson">
                Mật khẩu phải ít hơn 10 ký tự!</p>
            </div>
            <div *ngIf="this.registerForm.get('username')?.errors?.required" class="col alert alert-danger">
              <p style="color: crimson">
                Không để trống !</p>
            </div>
            <div *ngIf="this.registerForm.get('username')?.errors?.maxlength" class="col alert alert-danger">
              <p style="color: crimson">
                Tài khoản phải ít hơn 10 ký tự!</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><i class="zmdi zmdi-lock"></i></label>
          <input type="password" formControlName="password" placeholder="Nhập mật khẩu: ">
          <div class="col alert alert-danger" role="alert"
               *ngIf="this.registerForm.get('password')?.invalid && (this.registerForm.get('password')?.dirty || this.registerForm.get('password')?.touched)">
            <div *ngIf="this.registerForm.get('password')?.errors?.required" class="col alert alert-danger">
              <p style="color: crimson">
                Không để trống !</p>
            </div>
            <div *ngIf="this.registerForm.get('password')?.errors?.minlength" class="col alert alert-danger">
              <p style="color: crimson">Mật khẩu phải nhiều hơn 6 ký tự!</p>
            </div>
            <div *ngIf="this.registerForm.get('password')?.errors?.maxlength" class="col alert alert-danger">
              <p style="color: crimson">
                Mật khẩu phải ít hơn 32 ký tự!</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><i class="zmdi zmdi-lock-outline"></i></label>
          <input type="password" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu: ">
          <div class="col alert alert-danger" role="alert"
               *ngIf="this.registerForm.get('confirmPassword')?.invalid && (this.registerForm.get('confirmPassword')?.dirty || this.registerForm.get('confirmPassword')?.touched)">
            <div *ngIf="this.registerForm.get('confirmPassword')?.errors?.required" class="col alert alert-danger">
              <p style="color: crimson">
                Không để trống !</p>
            </div>
            <div *ngIf="registerForm.value.password !== registerForm.value.confirmPassword"
                 class="col alert alert-danger">
              <p style="color: crimson">
                Không giống mật khẩu !</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><i class="zmdi zmdi-email"></i></label>
          <input formControlName="email" placeholder="Nhập Email: " type="text" (click)="existence()">
          <div *ngIf="this.emailExistence" class="text-danger">
            <p style="color: crimson">Email đã tồn tại !</p>
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="this.registerForm.get('email')?.invalid && (this.registerForm.get('email')?.dirty || this.registerForm.get('email')?.touched)">
            <div *ngIf="this.registerForm.get('email')?.errors?.required" class="col alert alert-danger">
              <p style="color: crimson">
                Không để trống !</p>
            </div>
            <div *ngIf="this.registerForm.get('email')?.errors?.pattern" class="col alert alert-danger">
              <p style="color: crimson">"abc@abc.com"</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><i class="fa fa-phone"></i></label>
          <input formControlName="phone" placeholder="Nhập số điện thoại: " type="text">
          <div class="col alert alert-danger" role="alert"
               *ngIf="this.registerForm.get('phone')?.invalid && (this.registerForm.get('phone')?.dirty || this.registerForm.get('phone')?.touched)">
            <div *ngIf="this.registerForm.get('phone')?.errors?.required" class="col alert alert-danger">
              <p style="color: crimson">
                Không để trống !</p>
            </div>
            <div *ngIf="this.registerForm.get('phone')?.errors?.pattern" class="col alert alert-danger">
              <p style="color: crimson">
                Không theo mẫu: "0xxx (9 number)"</p>
            </div>
          </div>
        </div>
        <div class="form-group">
<!--          <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">-->
<!--          <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in </label>-->
        </div>
        <div class="form-group form-button">
          <input type="submit" name="signup" id="signup" class="form-submit" value="Đăng ký">
        </div>
      </form>
    </div>
    <div class="signup-image" >
      <img src="./assets/images/signup-image.jpg">
    </div>
  </div>
</div>
<!-- JS -->
