<section class="main-content columns is-fullheight" xmlns="http://www.w3.org/1999/html">
  <app-side-bar></app-side-bar>
  <app-modal [workspace] = "workspace"></app-modal>
  <app-modalworkspace></app-modalworkspace>
  <div class="container column is-10" style="padding: 0px 13px 13px 0px;">
    <div class="title-board">
      <h1><i class="fas fa-users"></i>Bảng</h1>
    </div>
    <div class="section-board">
      <div class="card" (click)="displayAddBoardModal()" *ngIf="allowEdit">
        <div class="img-circle-add-board">
          <a><i class="fas fa-plus-circle"></i></a>
        </div>
      </div>
      <div *ngFor="let board of workspace?.boards" routerLink="/board/{{board.id}}">
        <div class="card" *ngIf="board.type != 'Private' || currentUser.id == board.owner.id">
          <div class="card-header"><p class="card-header-title">{{board.title}}</p></div>
          <div class="card-content">
            <div class="content">
              <span style="font-size: small"><b>Chủ sở hữu: </b>{{board.owner.username}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
