<!--board-header-->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-item">
      <div class="buttons">
        <input *ngIf="canEdit" [(ngModel)]="currentBoard.title" class="button is-primary" (change)="updateBoardTitle()">
        <button *ngIf="!canEdit" class="button is-primary">
          {{currentBoard.title}}
        </button>
        <button class="button is-primary">
          <img *ngIf="!currentBoard.owner.image"
               src="https://vnn-imgs-a1.vgcloud.vn/image1.ictnews.vn/_Files/2020/03/17/trend-avatar-1.jpg"
               class="img-circle is-48x48"/>
          <img *ngIf="currentBoard.owner.image" [src]="currentBoard.owner.image" class="img-circle is-48x48"/>
          {{currentBoard.owner.username}}
        </button>
        <!--        <button class="button is-primary">-->
        <!--          <i class="far fa-star"></i>-->
        <!--        </button>-->
        <div>
          <span *ngFor="let member of members; index as i">
            <a (click)="showDetail(member)" (mouseover)="showUserPreview(member)"
               (mouseout)="closeUserPreviews()"
               class="user-preview" style="position: relative"
               [ngClass]="{'is-hidden': i >= 5}">
              <img *ngIf="member.image" [src]="member.image" class="img-circle"/>
              <img *ngIf="!member.image"
                   class="img-circle"/>
              <span id="user-preview-text-{{member.userId}}"
                    class="user-preview-text is-hidden tag is-info is-light"
                    style="position: absolute; top: 20px; left:5px; float: top">
                        User preview text
              </span>
            </a>
          </span>
          <span *ngIf="members.length > 5">
            <a>
              <img src="./assets/img/three-dots.png" (click)="showAllMembers()" class="img-circle"
                   style="width: 15px; height: 15px;margin-bottom: 20px;"/>
            </a>
          </span>

        </div>
      </div>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!--          <div style="position: relative">-->
          <!--            <div id="visibility-dropdown" class="columns has-background-white is-hidden">-->
          <!--              <div class="column" style="width: max-content">-->
          <!--                <select *ngIf="canEdit" class="input" [(ngModel)]="currentBoard.type" required #workspaceType="ngModel"-->
          <!--                        (change)="updateBoardTitle()">-->
          <!--                  <option value="Công khai">Công khai</option>-->
          <!--                  <option *ngIf="isInWorkspace" value="Nhóm">Nhóm</option>-->
          <!--                  <option value="Riêng tư">Riêng tư</option>-->
          <!--                </select>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <button *ngIf="canEdit" class="button is-primary" (click)="showEditPrivacyModal2()">
            {{currentBoard.type}}
          </button>
          <div style="position: relative">
            <div id="filter-btn-dropdown" class="columns has-background-white is-hidden">
              <div class="column is-one-fifth" style="width: 25%">
                <button class="button members-button" (click)="filterBoard()" style="background: #6dabe4"><i
                  class="fa fa-search"></i></button>
                <!--                <button class="button members-button" (click)="clearFilterBoard()">Xóa</button>-->
              </div>
              <div class="column" style="width: max-content">
                <ul class="checkbox">
                  <li *ngFor="let tag of tags">
                    <input type="checkbox" [value]="tag.id" class="tag-filter-option filter-option">
                    <span class="tag is-light" [ngClass]="tag.color">{{tag.name}}</span>
                  </li>
                </ul>
              </div>
              <div>
                <i class="fa fa-user"></i>
                <ul class="checkbox">
                  <li *ngFor="let member of members">
                    <span class="tag is-light" style="background: white">
                    <input class="form-check-label" type="checkbox" [value]="member.userId"
                           class="member-filter-option filter-option">
                      <p>@{{member.username}}</p></span>
                    <br/>
                  </li>
                </ul>
              </div>
              <div style=" padding-left: 10px">
                <i class="fas fa-bookmark"></i>
                <ul class="checkbox">
                  <li *ngFor="let tag of this.currentBoard.tags">
                    <span class="tag is-light" style="background: white">
                    <input class="form-check-label" type="checkbox" [value]="tag.id"
                           class="label-filter-option filter-option">
                    {{tag.name}}</span>
                    <br/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <button class="button is-primary" (click)="toggleElement('filter-btn-dropdown')">
            <i class="fas fa-filter"></i>
            Tìm Kiếm
          </button>

          <div class="icon-item" style="margin-right: 10px">
            <div class="dropdown is-hoverable ">
              <div class="dropdown-trigger">
                <button *ngIf="canEdit" class="button is-primary" (click)="toggleDeleteBoardModal()"><i
                  class="far fa-trash-alt"></i> Xóa bảng
                </button>
              </div>
            </div>
          </div>
          <button *ngIf="canEdit && isInWorkspace" class="button is-primary"
                  (click)="toggleUserSearchBar()">
            <i class="fas fa-user-plus"></i>Thêm thẻ TV
          </button>
          <div class="icon-item">
            <!--            <div class="dropdown is-hoverable is-right">-->
            <!--              <div class="dropdown-trigger">-->
            <!--                                <button class="button is-primary">-->
            <!--                                  <i class="fas fa-list"></i>-->
            <!--                                  Hoạt động-->
            <!--                                </button>-->
            <!--              </div>-->
            <!--                            <div class="dropdown-menu" id="dropdown-menu5" role="menu">-->
            <!--                              <div class="dropdown-content" style="padding: 0">-->
            <!--                                <div class="header__navbar-item header__navbar-item&#45;&#45;has-notify">-->
            <!--                                  <div class="header__notify">-->
            <!--                                    <header class="header__notify-header">-->
            <!--                                      <h3>Hoạt động</h3>-->
            <!--                                    </header>-->
            <!--                                    <ul class="header__notify-list">-->
            <!--                                      <li class="header__notify-item" *ngFor="let activity of activityLogService.activities"-->
            <!--                                          [class.mark-read]="activity.status">-->
            <!--                                        <a class="header__notify-link" routerLink="{{activity.url}}" *ngIf="activity.card"-->
            <!--                                           (click)="redirectService.showModal(activity.card)">-->
            <!--                                          <img-->
            <!--                                            [src]="activity.user!.image!"-->
            <!--                                            alt=""-->
            <!--                                            class="header__notify-img">-->
            <!--                                          <div class="header__notify-info">-->
            <!--                                            <span class="header__notify-name">{{activity.title}}</span>-->
            <!--                                            <span class="header__notify-description">{{activity.content}}</span>-->
            <!--                                          </div>-->
            <!--                                        </a>-->
            <!--                                        <a class="header__notify-link" routerLink="{{activity.url}}" *ngIf="!activity.card">-->
            <!--                                          <img-->
            <!--                                            [src]="activity.user!.image!"-->
            <!--                                            alt=""-->
            <!--                                            class="header__notify-img">-->
            <!--                                          <div class="header__notify-info">-->
            <!--                                            <span class="header__notify-name">{{activity.title}}</span>-->
            <!--                                            <span class="header__notify-description">{{activity.content}}</span>-->
            <!--                                          </div>-->
            <!--                                        </a>-->
            <!--                                      </li>-->
            <!--                                    </ul>-->
            <!--                                  </div>-->
            <!--                                </div>-->
            <!--                              </div>-->
            <!--                            </div>-->
            <!--            </div>-->
          </div>
          <div class="search-bar">
            <div *ngIf="searchBarIsShown" class="search-bar-input">
              <input class="input" type="text" placeholder="Tìm kiếm thành viên" [(ngModel)]="userSearch"
                     (keyup)="searchUsers()">
              <div *ngIf="userResult.length" class="dropdown-content">
                <a *ngFor="let result of userResult" class="dropdown-item" (click)="addMember(result)">
                  <img *ngIf="!result.image"
                       src="https://static.yeah1.com/uploads/editors/27/2020/03/21/JaZBMzV14fzRI4vBWG8jymplSUGSGgimkqtJakOV.jpeg"
                       class="img-circle is-48x48">
                  <img *ngIf="result.image" [src]="result.image" class="img-circle is-48x48">
                  @{{result.username}} <span *ngIf="result.nickname">({{result.nickname}})</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--User details modal-->
<div class="modal" id="user-detail-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Thông tin thành viên</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img *ngIf="!selectedMember.image" src="assets/img/nicki-eliza.jpg" class="img-circle"/>
                <img *ngIf="selectedMember.image" [src]="selectedMember.image" alt="Placeholder image"
                     class="is-rounded">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4" *ngIf="selectedMember.nickname">{{selectedMember.nickname}}</p>
              <p class="title is-4" *ngIf="!selectedMember.nickname">{{selectedMember.username}}</p>
              <p class="subtitle is-6">@{{selectedMember.username}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger is-light"
              *ngIf="canEdit && (selectedMember.userId ) != authenticateService.getCurrentUserValue().id"
              (click)="removeSelectedMember()">
        Xóa thành viên !
      </button>
      <button class="button is-light" (click)="closeModal()">Tắt</button>
    </footer>
  </div>
</div>

<div class="modal" id="delete-board-modal">
  <div class="modal-background"></div>
  <div class="modal-card" style="margin-top: -200px">
    <header class="modal-card-head">
      <p class="modal-card-title">Thông báo</p>
      <button class="delete" aria-label="close" (click)="toggleDeleteBoardModal()"></button>
    </header>
    <section class="modal-card-body">
      <div>
        Bạn muốn xóa bảng?
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger is-light" (click)="removeThisBoard()" style="background: pink; color: black">Xóa
        bảng
      </button>
      <button class="button is-light" (click)="toggleDeleteBoardModal()" style="background: lightskyblue; color: black">
        Quay lại
      </button>
    </footer>
  </div>
</div>
<div class="modal" id="edit-board-privacy">
  <div class="modal-background">
    <div class="modal-card" style="margin-top: 100px">
      <header class="modal-card-head">
        <p class="modal-card-title">Thay đổi kiểu của bảng</p>
        <button class="delete" aria-label="close" (click)="hideEditPrivacyModal2()"></button>
      </header>
      <section class="modal-card-body">
        <div class="control">
          <select class="input" [(ngModel)]="currentBoard.type" required #workspaceType="ngModel">
            <option value="Riêng tư">Riêng tư</option>
            <option *ngIf="isInWorkspace" value="Nhóm">Nhóm</option>
            <option value="Công khai">Công khai</option>
          </select>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class=" is-right">
          <button class="button is-dark is-right"
                  (click)="updateBoardTitle()">Thay đổi
          </button>
        </div>
        <button class="button is-light" (click)="hideEditPrivacyModal2()">Hủy</button>
      </footer>
    </div>
  </div>
</div>
